<!DOCTYPE html>
<html>
  <head>
    <title>Page Task</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery/jquery.js"></script>  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
       <h3>
          <span class="badge badge-dark">{</span>
          <span class="badge badge-light badge-dark">SyStem-All</span>
          <span class="badge badge-dark">}</span>
       </h3>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="mt-4">Add tarefas.</h1>
          <form action="/tasks" method="POST">
            <div class="form-group">
              <label for="title">Titulo:</label>
              <input type="text" id="title" class="form-control" name="title" placeholder="Entre com o titulo">
              <small id="titlelHelp" class="form-text text-muted">Titulo da tarefa.</small>
            </div>
            <div class="form-group">
              <label for="description">Descrição</label>
              <textarea id="description" name="description" class="form-control" placeholder="Descrição"></textarea>
              <small id="titlelHelp" class="form-text text-muted">Descrição da tarefa.</small>
            </div>
            <div class="form-group">
              <label for="description">Situação (realizado/não realizado):</label>
              <input type="checkbox" name="status" id="status" />
              <small id="titlelHelp" class="form-text text-muted">Situação da tarefa.</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
       </div>
       <div class="col-sm-8 container-fluid">
          <h1 class="display-4">Tarefas</h1>
          <div class="row">
            <% for(var i in tasks) { %>
              <div class="col-md-4">
                <h2><%= tasks[i].title %></h2>
                <p><%= tasks[i].description %></p>
                <div class="form-group form-check">
                  <input type="checkbox" class="data-check-id form-check-input" id="task-status<%=i%>" data-id="<%=tasks[i]._id %>">
                  <label class="form-check-label" style="margin-top: 3px" for="task-status<%=i%>"><%=tasks[i].status ? 'OK' : 'NOK' %></label>
                </div>
                <a href="/tasks/<%=tasks[i]._id %>/"> Go Item</a>
              </div>
            <% } %>
          </div>
      </div>
      </div>
    </div>

    <footer class="container">
      <p>© Company 2017-2018</p>
    </footer>
  </body>
</html>
